/*全部组件的样式合并文件*/
/*common*/
.wcm-hide-display{display:none !important;}
.wcm-hide-visibility{visibility:hidden !important;}
.wcm-disabled *{color:gray !important;}
/*.wcm-panel-shield{
position:absolute;
left:0px;top:0px;
width:100%;

-moz-opacity:0.5;
opacity:0.5;
filter:alpha(opacity=90);
background-image: url("maskBG.png") !important; // For browsers Moz, Opera, etc.
background-image:none;
background-repeat: repeat;
}*/
.wcm-panel-shield{
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
-moz-opacity:0.5;opacity:0.5;
filter:alpha(opacity=50);
background-color:#ffffff;
}
.dlg{position:absolute;z-index:999999999;}
.dlg *{margin:0px;padding:0px;}
.dlg .l{padding-left:13px;}
.dlg .r{padding-right:13px;}
.dlg .c{}
/*header layout*/
.dlg .header{background:url(table_alert_01.gif) left no-repeat;cursor:move;}
.dlg .header .r{background:url(table_alert_04.gif) right no-repeat;}
.dlg .header .c{height:34px;background:url(table_alert_02.gif) left repeat-x;}
/*body layout*/
.dlg .body{background:url(table_alert_05.gif) left top repeat-y;padding-left:8px;}
.dlg .body .r{background:url(table_alert_07.gif) right top repeat-y;padding-right:8px;}
.dlg .body .c{background:url(table_alert_06.gif) left top;}
/*footer layout*/
.dlg .footer{height:13px;background:url(table_alert_08.gif)  no-repeat;}
.dlg .footer .r{}
.dlg .footer .c{}
/*header content*/
.dlg .header .spt{float:left;height:100%;}
.dlg .header .title{float:left;width:80%;padding-left:5px;padding-top:8px;font-size:12px;font-weight:bold;white-space:nowrap;overflow:hidden;color:#FFFFFF}
.dlg .header .tools{float:right;height:100%;}
.dlg .header .close{float:left;width:20px;height:100%;cursor:default;}
.dlg .header .close:link, .dlg .header .close:visited{background:url(table_alert_03.gif) left no-repeat;cursor: pointer;}
.dlg .header .close:hover, .dlg .header .close:active{background:url(table_alert_03.gif) left no-repeat;cursor: pointer;}
/*body content*/
.dlg .body .dlg-table{width:100%;height:100%;table-layout:fixed;font-size:12px;}
.dlg .body .msg{text-align:center;}
.dlg .body .buttons{height:35px;text-align:center;}
/*wcm-mb-dlg*/
.wcm-mb-dlg{width:328px;}
.wcm-mb-dlg .body{background:url(table_alert_05.gif) left  no-repeat;padding-left:13px;}
.wcm-mb-dlg .body .r{background:url(table_alert_07.gif) right no-repeat;padding-right:13px;}
.wcm-mb-dlg .body .c{height:169px;background:url(table_alert_06.gif) center no-repeat;}
.dlg .body .msg-wrapper{height:134px;overflow:auto;}
.dlg .body .icon{width:80px;background:transparent center center no-repeat;}
.wcm-mb-dlg .body .icon-error{background-image:url(icon-error.gif);}
.wcm-mb-dlg .body .icon-info{background-image:url(icon-info.gif);}
.wcm-mb-dlg .body .icon-question{background-image:url(icon-question.gif);}
.wcm-mb-dlg .body .icon-warning{background-image:url(icon-warning.gif);}
.wcm-mb-dlg .body .icon-success{background-image:url(2.gif);}
.wcm-mb-dlg .body .icon-fail{background-image:url(icon-error.gif);}
.wcm-mb-dlg .body .icon-process{background-image:url(saving.gif);}
.wcm-mb-dlg .body .icon-loading{background-image:url(loading.gif);}

#wcm-fault-dlg-icon{background-image:url(icon-error.gif);}
/*wcm-fault-dlg*/
.wcm-report-dlg{width:550px;}
.wcm-report-dlg .body .c{height:240px;}
.wcm-report-dlg .body .icon{width:120px;background:transparent center 30px no-repeat;}
.wcm-report-dlg .body .icon{position:relative;border-right:10px solid gray;background-image:url(fault.gif);}
.wcm-report-dlg .body .msg{word-wrap:break-word;word-break:break-all;font-family:Arial;font-weight:bold;font-size:14px}
.wcm-report-dlg .body .icon{text-align:center;vertical-align:bottom;padding-bottom:20px;border-right:1px solid gray;}
.wcm-report-dlg .body .success{background-image:url(success.gif);}
.wcm-report-dlg .body .error{background-image:url(error.gif);}
.wcm-report-dlg .body .icon .copy{margin-top:8px;line-height:22px;background:url(info1.gif) center center no-repeat;cursor:pointer;}
.wcm-report-dlg .body .icon .close{margin-top:8px;line-height:22px;background:url(info1.gif) center center no-repeat;cursor:pointer;}
.wcm-report-dlg .body .content{padding:5px 10px;height:150px;overflow:auto;text-align:left;}
.wcm-report-dlg .body .innerTitle, .wcm-report-dlg .body .innerTitle_withTip{width:100%;font-size: 12px;font-weight: normal;color: navy;float: none;word-break:break-all;word-wrap:break-word;}
.wcm-report-dlg .body .innerTitle_withTip{width: 360px;}
.wcm-report-dlg .body .tip{width: 100%;text-align: right;float: none;padding-right:20px;padding-right:0px!important;}
.wcm-report-dlg .body .sep{height: 5px;width: 100%;}
.wcm-report-dlg .body .commentbox{background-color: #ececec;width: 370px;padding: 10px;font-size: 12px;border: 0;overflow:auto;margin-top: -5px;}
.wcm-report-dlg .body .commentHeader{width: 370px;overflow: hidden;background: url(arrow.gif) 20px 0 no-repeat;background-position-x: 90%;padding-left: 5px;padding-top: 0px;font-size: 90%;color: #4A4A4A;margin-top: 15px;}
.wcm-report-dlg .body .imgLogo{}
.wcm-report-dlg .body .options{height: 30px;text-align: right;padding-right: 5px;padding-top: 0px;}
.wcm-report-dlg .body .option_edit{background: url(edit.png);background-repeat:no-repeat;background-position:center center;cursor: pointer;width: 16px;margin-left: 2px;}
.wcm-report-dlg .rpdlg-type5{overflow:hidden;background:url(d1.gif) left -315px;width:16px;height:16px;margin-right:2px;}
.wcm-report-dlg .rpdlg-type1{overflow:hidden;background:url(d1.gif) left -331px;width:16px;height:16px;margin-right:2px;}
.wcm-report-dlg .rpdlg-type3{overflow:hidden;background:url(d1.gif) left -347px;width:16px;height:16px;margin-right:2px;}
.wcm-report-dlg .rpdlg-type4{overflow:hidden;background:url(d1.gif) left -363px;width:16px;height:16px;margin-right:2px;}


/*wcm-cbd标准版*/
.wcm-cbd-std{position:absolute;left:0px;right:0px;z-index:999999;}
.wcm-cbd-std *{margin:0px;padding:0px;}
.wcm-cbd-std .l{}
.wcm-cbd-std .r{}
.wcm-cbd-std .c{}
/*header layout*/
.wcm-cbd-std .header{height:30px;background:url(2010_itil_head_l.gif) no-repeat;cursor:move;padding-left:11px;}
.wcm-cbd-std .header .l{height:30px;background:url(2010_itil_head_l.gif) no-repeat;cursor:move;padding-left:11px;}
.wcm-cbd-std .header .r{background:url(2010_itil_head_r.gif) right no-repeat;padding-right:11px;}
.wcm-cbd-std .header .c{height:30px;background:url(2010_itil_head_m.gif) repeat-x;overflow:hidden;}
/*body layout*/
.wcm-cbd-std .body{padding:0 7px 7px 7px;}
.wcm-cbd-std .body .l{padding-left:0px;}
.wcm-cbd-std .body .r{}
.wcm-cbd-std .body .c{zoom:1;}
/*footer layout*/
.wcm-cbd-std .footer{}
.wcm-cbd-std .footer .r{}
.wcm-cbd-std .footer .c{height:13px;overflow:hidden;}
/*header content*/
.wcm-cbd-std .header .spt{float:left;width:6px;height:100%;}
.wcm-cbd-std .header .title{float:left;width:80%;padding-left:5px;line-height:29px;font-size:14px;font-weight:bold;white-space:nowrap;overflow:hidden;color:#FFFFFF}
.wcm-cbd-std .header .tools{float:right;height:100%;}
.wcm-cbd-std .header .close{float:left;width:33px;height:100%;cursor:hand;}
.wcm-cbd-std .header .close:link, .wcm-cbd-std .header .close:visited{background:url(close.gif) no-repeat;}
.wcm-cbd-std .header .close:hover,.wcm-cbd-std .header .close:active{background:url(close.gif) no-repeat;height:31px;}
/*body content*/
.wcm-cbd-std .body .cb-table{width:100%;height:100%;table-layout:fixed;font-size:12px;}
.wcm-cbd-std .body .buttons{height:32px;padding-top:0px;overflow:hidden;background:#fff;text-align:center;}
.wcm-cbd-std  .body{background-color:#3a5b97;border-left:1px solid #3a4766;border-right:1px solid #3a4766;border-bottom:1px solid #3a4766;}
.wcm-cbd-std .body .r{}
.wcm-cbd-std .body .c{ background-color:#ffffff;padding:0px 0px 0px 0px;}
.ext-ie .wcm-cbd-std .body .c{filter:progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#ffffff, StartColorStr=#ffffff, GradientType=0);}

.wcm-cbd-std .body iframe{border:0px solid #C0C0C0;background:white;}



/*wcm-cbd 简化版*/
.wcm-cbd{position:absolute;left:0px;right:0px;z-index:999999;}
.wcm-cbd *{margin:0px;padding:0px;}
.wcm-cbd .l{}
.wcm-cbd .r{}
.wcm-cbd .c{}
/*header layout*/
.wcm-cbd .header{cursor:move;}
.wcm-cbd .header .r{}
.wcm-cbd .header .c{height:18px;overflow:hidden;}
/*body layout*/
.wcm-cbd .body{padding:7px;}
.wcm-cbd .body .r{}
.wcm-cbd .body .c{zoom:1;}
/*footer layout*/
.wcm-cbd .footer{}
.wcm-cbd .footer .r{}
.wcm-cbd .footer .c{height:12px;overflow:hidden;}
/*header content*/
.wcm-cbd .header .spt{float:left;width:6px;}
.wcm-cbd .header .title{float:left;width:60%;padding-left:5px;font-size:12px;font-weight:bold;white-space:nowrap;overflow:hidden;color:#FFFFFF;display:none;}
.wcm-cbd .header .tools{
float:right;
background-repeat:repeat-y; 
padding-right:0px;
padding-top:0px;
height:18px;
width: 79px;
background-image: url(jiao1.gif);
background-repeat: no-repeat;
background-position:top;
overflow:hidden;
}
.wcm-cbd .header .close{float:right;position:relative;width:22px;height:13px;cursor:hand;margin-top:4px;}

.wcm-cbd .header .close:link,.wcm-cbd .header .close:visited{background:url(2010_itil_icon_43.gif) no-repeat;}
.wcm-cbd .header .close:hover,.wcm-cbd .header .close:active{background:url(2010_itil_icon_43.gif) no-repeat;}

/*body content*/
.wcm-cbd .body .cb-table{width:100%;height:100%;table-layout:fixed;font-size:12px;}
.wcm-cbd .body .buttons{height:32px;background:url(2010_itil_table5_36.jpg) center repeat-x;padding-top:0px;overflow:hidden;text-align:center;}
.wcm-cbd  .body{background-color:#FFF;}
.wcm-cbd .body .r{}
.wcm-cbd .body .c{ background-color:#ffffff;padding:0px 0px 0px 0px;}
.ext-ie .wcm-cbd .body .c{filter:progid:DXImageTransform.Microsoft.Gradient(EndColorStr=#ffffff, StartColorStr=#ffffff, GradientType=0);}

.wcm-cbd .body iframe{border:0px solid #C0C0C0;background:white;}
/*button*/
.wcm-btn{display:inline-block;height:31px;margin:2px 5px;}
.ext-ie6 .wcm-btn{display:inline;width:1px;}
.ext-ie7 .wcm-btn{display:inline;}
.ext-ie8 .wcm-btn{display:inline-block;}
.ext-gecko2 .wcm-btn{display:-moz-inline-stack;}
.wcm-btn-left{padding-left:4px;background:url(2010_itil_btn_l.gif) left no-repeat;}
.wcm-btn-right{height:100%;padding-right:4px;background:url(2010_itil_btn_r.gif) right no-repeat;}
.wcm-btn-center{zoom:1;height:100%;padding-left:5px;padding-right:5px;background:url(2010_itil_btn_m.gif) left repeat-x; font-weight:bold;}
.wcm-btn a{display:block;cursor:default;font-size:14px;line-height:32px;min-width:50px;white-space:nowrap;text-decoration:none;cursor:pointer;}
.ext-ie6 .wcm-btn a{width:45px;}
.ext-ie7 .wcm-btn{width:55px;}
.ext-strict .ext-ie7 .wcm-btn{width:auto;}
/*fix firefox bug:link element can't trigger click event in line-block container*/
.ext-gecko2 .wcm-btn a{position:relative;overflow:hidden;}
.wcm-btn a:link, .wcm-btn a:visited{color:#fff;}
.wcm-btn a:hover, .wcm-btn a:active{color:#A7401F;}
.wcm-btn .wcm-btn-text{text-align:center;}
/*simplemenu*/
.s-menu{width:150px;overflow:visible;position:absolute;z-index:999;border:1px solid #ACA899;background:white;cursor:default;font-size:12px;}
.s-menuShield{position:absolute;z-index:998;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#ACA899', Positive=true);}
.s-menu .item{overflow:visible;padding:2px;margin:1px 0px;}
.s-menu .selectedItem{background-color:#C1D2EE;border:1px solid #316AC5;padding:1px;margin:1px 0px;}
.s-menu .item .icon{float:left;height:22px;line-height:22px;}
.s-menu .item .desc{width:100%;height:22px;line-height:22px;white-space:nowrap;text-overflow:ellipsis;}
.s-menu .separator{overflow:hidden;height:1px;background:gray;margin:2px;}
/*processbar*/
.processbar_coverall{position:absolute;top:0px;left:0px;width:100%;height:100%;-moz-opacity:0.5;opacity:0.5;z-index:9999999991;}
.ext-strict .processbar_coverall{background-color:#FFFFFF;}
.ext-ie7 .processbar_coverall{filter:alpha(opacity=50);background-color:#FFFFFF;}
.ext-ie6 .processbar_coverall{filter:alpha(opacity=50);background-color:#FFFFFF;}
.processbar_table_outer{position:absolute;z-index:9999999994;width:380px;height:180px;left:50%;top:50%;}
.processbar_table{position:absolute;z-index:9999999999;width:380px;height:120px;left:-50%;top:-50%;width:100%;background:#FFFFFF;}
#processbar_waitingTime{margin:0 2px;width:30px;color:red;}
#processbar_thing{font-weight:bold;}
/*ctrsbutton*/
.ctrsbtn_left{background:url(../images/button_left.gif) no-repeat 0 0;height:24px;}
.ctrsbtn_right{background:url(../images/button_right.gif) no-repeat right 0;height:24px;line-height:24px;}
.ctrsbtn{background:url(../images/button_bg_line.gif) repeat-x 4px 0;font-size:14px;height:24px;text-align:center;margin:0 5px;float:left;width:90px;}
.ext-ie6 .ctrsbtn{float:none;display:inline;width:90px;cursor:pointer;}
.ext-strict .ctrsbtns_outer{height:24px;margin-left:50%;cursor:pointer;}
.ext-strict .ctrsbtns_inner{float:left;height:24px;overflow:hidden;}
.ext-strict .ctrsbtns_inner1{margin-left:-65px;}
.ext-strict .ctrsbtns_inner2{margin-left:-100px;}
.ext-strict .ctrsbtns_inner3{margin-left:-150px;}
.ext-strict .ctrsbtns_inner4{margin-left:-200px;}
.ext-strict .ctrsbtns_inner5{margin-left:-255px;}
.ext-strict .ctrsbtns_inner6{margin-left:-310px;}
/*validator*/
.warningClassKey{color:red;white-space:nowrap;font-size:12px;}
.messageClassKey{color:green;white-space:nowrap;font-size:12px;}
.requiredClass{color:green;font-size:12px;}
.warningClassMouse{background-color : "yellow";border : "black 1px solid";color:red;font-size:12px;}
.messageClassMouse{background-color : "yellow";border : "black 1px solid";color:green;font-size:12px;}
/*suggestion*/
.Suggestion{border:1px solid #333333;position: absolute;z-index: 999;overflow: auto;height: 200;width:400;font-family:verdana;line-height:100%;font-size:9pt;scrollbar-face-color:white;scrollbar-highlight-color :white;scrollbar-shadow-color:white;}
.Suggestion2{position: absolute;z-index: 998;overflow: auto;height: 200;width:400;font-family:verdana;line-height:100%;font-size:9pt;}
.Suggestion_MouseItem{line-height : 140%;font-family : verdana;font-size:9pt;}
.Suggestion_MouseOver{color:#ffffff;background-color:highlight;width:100%;cursor:default;}
.Suggestion_MouseOut{color:#000000;width:100%;background-color:#ffffff;cursor:default;}
/*calendar*/
/* The main calendar widget.  DIV containing a table. */
div.calendar { position: absolute; }
.calendar, .calendar table {border: 1px solid #556;font-size: 11px;color: #000;cursor: default;background: #eef;font-family: tahoma,verdana,sans-serif;}
/* Header part -- contains navigation buttons and day names. */
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}
.calendar .nav {background: #778 url(menuarrow.gif) no-repeat 100% 100%;}
.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;background: #fff;color: #000;padding: 2px;}
.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #778;color: #fff;}
.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #bdf;}
.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #556;padding: 2px;text-align: center;color: #000;}
.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;}
.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #aaf;color: #000;border: 1px solid #04f;padding: 1px;}
.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #77c;padding: 2px 0px 0px 2px;}
/* The body part -- contains all the days in month. */
.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;color: #456;text-align: right;padding: 2px 4px 2px 2px;}
.calendar tbody .day.othermonth {font-size: 80%;color: #bbb;}
.calendar tbody .day.othermonth.oweekend {color: #fbb;}
.calendar table .wn {padding: 2px 3px 2px 2px;border-right: 1px solid #000;background: #bdf;}
.calendar tbody .rowhilite td {background: #def;}
.calendar tbody .rowhilite td.wn {background: #eef;}
.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;padding: 1px 3px 1px 1px;border: 1px solid #bbb;}
.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;padding: 2px 2px 0px 2px;}
.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;border: 1px solid #000;padding: 1px 3px 1px 1px;background: #fff;color: #000;}
.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;}
.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;color: #00f;}
.calendar tbody .disabled { color: #999; }
.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;}
.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;}
/* The footer part -- status bar and "Close" button */
.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;background: #556;color: #fff;}
.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;color: #445;border-top: 1px solid #556;padding: 1px;}
.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;border: 1px solid #04f;color: #000;padding: 1px;}
.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;padding: 2px 0px 0px 2px;}
/* Combo boxes (menus that display months/years for direct selection) */
.calendar .combo {position: absolute;display: none;top: 0px;left: 0px;width: 4em;cursor: default;border: 1px solid #655;background: #def;color: #000;font-size: 90%;z-index: 100;}
.calendar .combo .label,
.calendar .combo .label-IEfix {text-align: center;padding: 1px;}
.calendar .combo .label-IEfix {width: 4em;}
.calendar .combo .hilite {background: #acf;}
.calendar .combo .active {border-top: 1px solid #46a;border-bottom: 1px solid #46a;background: #eef;font-weight: bold;}
.calendar td.time {border-top: 1px solid #000;padding: 1px 0px;text-align: center;background-color: #f4f0e8;}
.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {padding: 0px 3px 0px 4px;border: 1px solid #889;font-weight: bold;background-color: #fff;}
.calendar td.time .ampm {text-align: center;}
.calendar td.time .colon {padding: 0px 2px 0px 3px;font-weight: bold;}
.calendar td.time span.hilite {border-color: #000;background-color: #667;color: #fff;}
.calendar td.time span.active {border-color: #f00;background-color: #000;color: #0f0;}
.imgDate{width:20px;height:100%;display:inline;overflow:hidden;background:url('../source/wcmlib/calendar/calendar_style/img.gif') center center no-repeat;}
.imgDate{margin-left:3px;height:auto;zoom:1;}
.ext-gecko .imgDate{padding:0px 9px;}
.ext-ie8 .imgDate{display:inline-block;	width:20px!important;height:16px!important;}