<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>trs</servlet-name>
		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
			<param-name>service-class</param-name>
			<param-value>com.provideImpl.FacadeFactory</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.test.servlet.TestServletSearch</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Log4jInit</servlet-name>
		<servlet-class>com.util.Log4jInit</servlet-class>
		 
		<!--<init-param> 
            <param-name>log4j</param-name> 
            <param-value>log_4j.properties</param-value>                    
        </init-param> -->
          
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>trs</servlet-name>
		<url-pattern>/trs</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
</web-app>